body {
    background-color: #f30086; /*rojo*/
 }
button {
    color: #0615e6de; /* el color del texto del botón */
    padding: 15px 32px; /* el tamaño del botón (relleno interior) */
    text-align: center; /* alinea el texto al centro */
    text-decoration: none; /* quita cualquier subrayado del texto */
    display: inline-block; /* comportamiento de la caja del botón */
    font-size: 16px; /* el tamaño de la letra */
    cursor: pointer; /* hace que el cursor cambie a una 'manita' al pasar por encima */
    box-shadow: 0 9px #999; /* sombra debajo del botón */
    background: linear-gradient(to right, #6be606de, #e66b06de); /* fondo con degradado */
}